.App {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: #f0f0f0;
}

.manga-item {
  margin-bottom: 20px;
  background-color: #fff;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.manga-item img {
  max-width: 100%;
  border-radius: 8px;
}
